<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Youtube Influencers</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a class="pad-4p shadow-menu " mat-list-item routerLink=".">
          <mat-icon>search</mat-icon>
          <span class="pad-3">
            Dashboard
          </span>
        </a>
        <a class="pad-4p shadow-menu " mat-list-item routerLink=".">
          <mat-icon>trending_up</mat-icon>
          <span class="pad-3">
            Trending
          </span>
        </a>
        <a class="pad-4p shadow-menu active" mat-list-item routerLink=".">
          <mat-icon>search</mat-icon>
          <span class="pad-3">
            Search
          </span>
        </a>
        <a class="pad-4p shadow-menu " mat-list-item routerLink=".">
          <mat-icon>email</mat-icon>
          <span class="pad-3">
            Messages
          </span>
        </a>
        <a class="pad-4p shadow-menu " mat-list-item routerLink=".">
          <mat-icon>redeem</mat-icon>
          <span class="pad-3">
            Wallet
          </span>
        </a>
        <a class="pad-4p shadow-menu " mat-list-item routerLink=".">
          <mat-icon>turned_in</mat-icon>
          <span class="pad-3">
            Saved
          </span>
        </a>
        <a class="pad-4p shadow-menu " mat-list-item routerLink=".">
          <mat-icon>whatshot</mat-icon>
          <span class="pad-3">
            Community
          </span>
        </a>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>table_chart</mat-icon>
              <span class="expandable-menu-icon">Reports</span>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <a mat-list-item routerLink=".">
            <mat-icon> bar_chart </mat-icon>
            <span class="pad-3">
              Bar Chart
            </span>
          </a>
          <a mat-list-item routerLink=".">
            <mat-icon> bubble_chart</mat-icon>
            <span class="pad-3">
              Bubble Chart
            </span>
          </a>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>settings</mat-icon>
              <span class="expandable-menu-icon">Settings</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink=".">
            <mat-icon> account_circle </mat-icon>
            <span class="pad-3">
              Personal Settings
            </span>
          </a>
          <a mat-list-item routerLink=".">
            <mat-icon> build </mat-icon>
            <span class="pad-3">
              App Settings
            </span>
          </a>
        </mat-expansion-panel>
        <a class="pad-4p shadow-menu " mat-list-item routerLink=".">
          <mat-icon>exit_to_app</mat-icon>
          <span class="pad-3">
            Logout
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-search-page></app-search-page>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>